div {
    background-color: blueviolet;
    color: beige;
    text-align: center;
    padding: 25px;
}

div:hover {
    background-color: coral;
    color: darkslategrey;
}

input:focus {
    background-color: darkolivegreen;
    color: azure;
}

p:active {
    background-color: blue;
}